<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.comento.dao.StatisticMapper">
	
	<select id="selectYearLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year};
	</select>
	
	<!-- 월별 접속자 수 -->
	<select id="selectMonthLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 4) = #{yearMonth}
	</select>
	
	<!-- 일자별 접속자 수 -->
	<select id="selectDayLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 6) = #{yearMonthDay}
	</select>
	
	<!-- 하루 평균 로그인수-->
	<select id="selectAvgDayLogin" parameterType="string" resultType="hashMap">
		select count(*)/365 as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year}
	</select>
	
	<!-- 휴일을 제외한 해당연도 로그인 수 -->
	<!-- 현재는 휴일을 포함 -->
	<select id="selectExceptHolidayLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year}
	</select>
	
	<!-- 해당연도 부서별, 월별 로그인 수 -->
	<select id="selectDeptMonthLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year} and requestCode = #{requestCode}
	</select>
	
</mapper>