<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.comento.dao.StatisticMapper">

	<select id="selectYearLogin" parameterType="string"
		resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year};
	</select>

	<!-- 월별 접속자 수 -->
	<select id="selectMonthLogin" parameterType="string"
		resultType="com.mycompany.comento.dto.StatisticDto$MonthDto">
		select mid(ri.createDate, 3, 2) as month, count(*) as
		loginNum
		from statistic.requestinfo ri
		where left(ri.createDate, 2) =
		#{year} group by mid(ri.createDate, 3, 2);
	</select>

	<!-- 일별 접속자 수 -->
	<select id="selectDistinctMonth" parameterType="string"
		resultType="com.mycompany.comento.dto.StatisticDto$DistinctMonthDto">
		select distinct mid(ri.createDate, 3, 2) as month
		from
		statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year} order
		by month asc;
	</select>

	<select id="selectDayLogin" parameterType="string"
		resultType="com.mycompany.comento.dto.StatisticDto$DayMonthDto">
		select mid(ri.createDate, 3, 2) as month,
		mid(ri.createDate, 5, 2) as day, count(*) as loginNum
		from
		statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year}
		group by
		mid(ri.createDate, 3, 2), mid(ri.createDate, 5, 2);
	</select>

	<!-- 하루 평균 로그인수 -->
	<select id="selectAvgDayLogin" parameterType="string"
		resultType="hashMap">
		select count(*)/365 as loginNum
		from statistic.requestinfo
		ri
		where left(ri.createDate, 2) = #{year}
	</select>

	<!-- 휴일을 제외한 해당연도 로그인 수 -->
	<select id="selectExceptHolidayLogin" parameterType="hashMap" resultType="hashMap">
		select count(*) as loginNum
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year} and mid(ri.createDate, 3, 4) NOT IN
		<foreach collection="holiday" item="arr" open="(" close=")" separator=",">
			#{arr}
		</foreach> 
		;
	</select>

	<!-- 해당연도 부서별, 월별 로그인 수 -->
	<select id="selectDistinctDept" resultType="hashMap">
		select distinct requestCode as dept from statistic.requestinfo ri;
	</select>
	
	<select id="selectDeptMonthLogin" parameterType="string" resultType="com.mycompany.comento.dto.StatisticDto$DeptMonthDto">
		select requestCode as dept, mid(ri.createDate, 3, 2) as month, count(*) as loginNum 
		from statistic.requestinfo ri
		where left(ri.createDate, 2) = #{year}
		group by requestCode, mid(ri.createDate, 3, 2);
	</select>

</mapper>